# ---------- ENVIRONMENT ----------
SECRET_KEY=supersecretkey
DEBUG=True
# ---------- CORS & COOKIES ----------
ALLOWED_HOSTS=localhost,127.0.0.1
ALLOWED_ORIGINS=http://localhost:3000
COOKIE_DOMAIN=localhost
# ---------- CLOUD URLS ----------
DATABASE_URL=postgresql://postgres:postgres@db:5432/quibble
CACHE_URL=redis://redis:6379/0
AUTH_SERVICE_URL=http://localhost:8002
# ---------- AWS ----------
AWS_ACCESS_KEY_ID=rustfsadmin
AWS_SECRET_ACCESS_KEY=rustfsadmin
AWS_S3_BUCKET_NAME=quibble-media-dev-ap-south-1
AWS_S3_ENDPOINT_URL=http://rustfs:9000
AWS_S3_REGION_NAME=ap-south-1